<form
  [formGroup]="form"
  class="max-w-xl mx-auto bg-white p-6 rounded-lg shadow-md"
>
  <h1 class="text-2xl font-bold mb-4 text-center pt-4">{{formTitle}}</h1>

  <label class="block mb-4">
    <span class="block text-sm font-medium text-gray-700">{{tag1}}</span>
    <input
      type="text"
      placeholder="Enter the {{tag1}}"
      formControlName="tag1Value"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
    />
    @if (tag1Value?.hasError('required')) {
    <span class="text-red-600 text-sm">{{tag1}} is required</span>
    }
  </label>

  <label class="block mb-4">
    <span class="block text-sm font-medium text-gray-700">{{tag2}}</span>
    <input
      type="text"
      placeholder="Enter the {{tag2}}"
      formControlName="tag2Value"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
    />
    @if (tag2Value?.hasError('required')) {
    <span class="text-red-600 text-sm">{{tag2}} name is required</span>
    }
  </label>

  <label class="block mb-4">
    <span class="block text-sm font-medium text-gray-700">{{tag3}}</span>
    <input
      type="text"
      placeholder="Enter the {{tag3}}"
      formControlName="tag3Value"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
    />
    @if (tag3Value?.hasError('required')) {
    <span class="text-red-600 text-sm">{{tag3}} name is required</span>
    }
  </label>

  <label class="block mb-4">
    <span class="block text-sm font-medium text-gray-700">{{tag4}}</span>
    <input
      type="date"
      formControlName="tag4Value"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
    />
    @if (tag4Value?.hasError('required')) {
    <span class="text-red-600 text-sm">{{tag4}} is required</span>
    }
  </label>

  <label class="block mb-4">
    <span class="block text-sm font-medium text-gray-700">Upload Document</span>
    <input
      type="file"
      (change)="onDocumentUpload($event)"
      class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:border file:border-gray-300 file:rounded-md file:bg-gray-100 hover:file:bg-gray-200"
    />
    @if (loading) {
    <span class="text-green-600 text-sm">LOADING</span>
    }
  </label>

  @if (successMessage) {
  <span class="text-green-600 text-sm">{{successMessage}}</span>
  } @if (errorMessage) {
  <span class="text-red-600 text-sm">{{errorMessage}}</span>
  }

  <button
    type="button"
    (click)="onSubmitForm()"
    [disabled]="!isFormCheckedWithDocument"
    class="w-full bg-blue-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-700 disabled:bg-gray-400"
  >
    Submit
  </button>
</form>
